<div class="w-100 h-100">

  <form [formGroup]="form">
    <div class="suit-container-control">
      <label>Test</label>
      <input type="text" class="suit-control" formControlName="input-text">
    </div>

    <button type="submit">TEST</button>
  </form>

</div>

<div>
  <div class="w-100 h-100" (click)="popup.toggle()">
    <div #target id="test" style="cursor: pointer; width: fit-content; background-color: aqua; margin: auto;">
      Open popup
    </div>
  </div>

  <suit-popup #popup [target]="target">
    <div>
      POPUP OPENED!
      <button (click)="popup.close()">Close</button>
    </div>
  </suit-popup>
</div>